<h1>Edit your Trip</h1>

<form action="/trips/<%= @trip.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <label for="destination">Destination</label>
  <input id="destination" type="text" name="trip[destination]" value="<%= @trip.destination %>">
  <br>
  <label for="arrival_date">Arrival Date</label>
  <input id="arrival_date" type="date" name="trip[arrival_date]" value="<%= @trip.arrival_date %>">
  <br>
  <label for="duration">Duration (in days)</label>
  <input id="duration" type="text" name="trip[duration]" value="<%= @trip.duration %>">
  <br>
  <label for="reflections">Reflections</label>
  <textarea id="reflections" name="trip[reflections]" cols="30" placeholder="Write trip reflections here" value="<%= @trip.reflections %>"></textarea>

  <br><br>
  <input type="submit" value="Save">
</form>