<h1><%= @trip.name %></h1>

<% if @trip.destination.present? %>
  <p>Destination: <%= @trip.destination %></p>
<% end %>

<% if @trip.arrival_date.present? %>
  <p>Arrival Date: <%= @trip.arrival_date %></p>
<% end %>

<% if @trip.duration.present? %>
  <p>Duration: <%= @trip.duration %></p>
<% end %>

<% if @trip.reflections.present? %>
  <p>Reflections: <%= @trip.reflections %></p>
<% end %>

<br>
<a href="/trips/<%= @trip.id %>/edit">Edit Trip</a>